@import 'styles/theme';

.root {
  @apply inline-block;
  @apply font-semibold;
  @apply text-2xl;
  @apply my-6;

  &:after {
    content: '';
    width: 70%;
    border-bottom: 1px solid $color-purple;
    @apply inline-block;
  }
}
