@import './theme.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.text-purple {
  color: $color-purple;
}

.bg-purple {
  background-color: $color-purple;
}

.border-purple {
  border-color: $color-purple;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-blue {
  background-color: $color-blue;
}

.text-blue {
  color: $color-blue;
}

.border-blue {
  border-color: $color-blue;
}
