@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-aqua: #6ecbbb;
  --color-orange: #ff8a00;
  --color-purple: #d372ef;
}

/*body {
  background: #171721;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
} */
